.containerPublications {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

@media (min-width: 1000px) {
  .containerPublications {
    width: 90%;
  }
}
