.allHistoryUsers {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.titleSectionOne {
  width: 90%;
  height: 30px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.titleSectionOne p {
  color: white;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.listUsers {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  padding-left: 5%;
  margin-bottom: 50px;
  overflow-y: auto;
}

.cardUsers {
  min-width: 60%;
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  gap: 25px;
  padding: 25px 0px;
}

.imgSection {
  position: relative;
  width: 60%;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgSection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid white;
  outline: 2px solid rgb(0, 196, 0);
}

.infoCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.nameCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.nameCard h3 {
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  color: #4a12a9;
  text-align: center;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.nameCard p {
  width: 100%;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: grey;
  text-align: center;
  text-transform: capitalize;
}

.flexButtons {
  width: 100%;
  height: 65px;
  background-color: #a14371;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.flexButtons p {
  color: white;
  width: 50%;
  text-align: left;
  white-space: nowrap; /* Evita que el texto salte de línea */
  overflow: hidden; /* Oculta el texto que sobresale */
  text-overflow: ellipsis;
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-weight: 600;
}

.flexButtons button {
  width: 35px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}

.btnDelete {
  width: 80%;
  height: 45px;
  border-radius: 50px;
  border: none;
  background: grey;
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8rem;
}
