.boxFunctionsContainer {
  position: absolute;
  bottom: 60px;
  z-index: 100;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeInMenu 1s ease-out;
}

@keyframes fadeInMenu {
  from {
    opacity: 0;
    transform: translateY(16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.welcomeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  color: white;
}

.welcomeContainer h1 {
  font-family: var(--font-le-jardin-secret);
  font-size: 3.5rem;
  line-height: 0.5;
}

.welcomeContainer h2 {
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.sliderFunctionsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  overflow-y: scroll;
  padding-left: 20px;
  padding-right: 20px;
}

.sliderFunctionsContainer::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

.sliderFunctionsContainer::-webkit-scrollbar-thumb {
  height: 0px;
  width: 0px;
}

.sliderFunctionsContainer::-webkit-scrollbar-track {
  height: 0px;
  width: 0px;
}

.optionItem {
  background-color: white;
  min-width: 55vw;
  height: 130px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px;
  gap: 15px;
  text-decoration: none;
  cursor: pointer;
}

.optionItem:hover {
  background-color: rgb(240, 240, 240);
}

.optionItem h3 {
  font-size: 1.1rem;
  text-align: center;
  font-weight: 600;
  width: 80%;
  letter-spacing: 0.5px;
  color: #a14371;
  text-decoration: none;
}

.nextCita {
  border: 1px solid rgb(128, 128, 128);
  padding: 5px 10px;
  border-radius: 20px;
  margin-top: 20px;
  color: rgb(128, 128, 128);
  background-color: rgba(55, 55, 55, 0.076);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nextCita p {
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 0.5px;
}

@media (min-width: 850px) {
  .sliderFunctionsContainer {
    justify-content: center;
  }

  .optionItem {
    min-width: 20%;
  }
}
