.bgDashboard {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(90deg, #4a12a9, #a14371);
  padding-bottom: 100px;
}

.bgDashboard span {
  height: 25px;
}

.boxName {
  margin-top: 160px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

.boxName h2 {
  color: white;
  font-family: var(--font-le-jardin-secret);
  font-size: 2.8rem;
  width: 100%;
}

.boxName p {
  color: white;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  width: 100%;
}


@media (min-width: 1000px) {
  .boxName {
    margin-top: 150px;
    width: 65%;
  }

  .boxName h2 {
    font-size: 3.2rem;
  }

  .boxName p {
    font-size: 1.2rem;
    letter-spacing: 1.3px;
  }
}
