.containerLoader {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 55px;
  position: relative;
  background: white;
}

.textBox {
  position: absolute;
  top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.textBox h3 {
  font-size: 0.7rem;
  text-align: center;
  width: 100%;
  color: grey;
  letter-spacing: 1px;
  font-weight: 300;
}

.containerLoader img {
  margin-top: -50px;
}

.loaderBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.loaderBox h4{
  color: #b62fff;
  font-size: 0.8rem;
  text-align: center;
  width: 100%;
  letter-spacing: 0.5px;
  line-height: 1;
  font-weight: 300;
}

.loader {
  height: 7px;
  width: 50%;
  max-width: 320px;
  --c: no-repeat linear-gradient(#b62fff, #a14371);
  background: var(--c), var(--c), white;
  background-size: 60% 100%;
  animation: l16 3s infinite;
  border: 1px solid #b62fff7a;
  border-radius: 50px;
}

@keyframes l16 {
  0% {
    background-position:
      -150% 0,
      -150% 0;
  }
  66% {
    background-position:
      250% 0,
      -150% 0;
  }
  100% {
    background-position:
      250% 0,
      250% 0;
  }
}
